<div ng-include src="'assets/angular/templates/partials/_flash_notice.html'" include-replace></div>

<p>
  <strong>Customer:</strong>
  {{ project.customer }}
</p>
<p>
  <strong>Product:</strong>
  {{ project.product }}
</p>
<p>
  <strong>Platform:</strong>
  {{ project.platform }}
</p>
<p>
  <strong>Repo Name:</strong>
  {{ project.git_repo_url }}
</p>
<p>
  <strong>Created By:</strong>
  {{ project.user.first_name }} {{ project.user.last_name }}
</p>

<a href="#/projects/{{ project.id }}/edit">Edit</a>
|
<a href="#/projects">Back</a>